<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layout}">
<head>
    <title>Buku List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                <div class="container text-center">
                    <h1 class="display-5 mb-4">Kelompok 1</h1>
                    <ul class="list-unstyled">
                        <li>Hilmi Datu Allam</li>
                        <li>Hanif Maulana Yusuf</li>
                        <li>Muhammad Amir Syarifuddin</li>
                        <li>Yanwar Ardika Cahyani</li>
                    </ul>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/bukus">
                            Masuk Perpus
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
